name: Pull request CI Workflow

on:
  pull_request:
    branches:
      [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: setup JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '17'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Cache Gradle
        uses: actions/cache@v5
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Create local.properties file
        env:
          LOCAL_PROPERTIES: ${{secrets.LOCAL_PROPERTIES}}
        run: echo $LOCAL_PROPERTIES > local.properties
      - name: Run debug Build
        run: ./gradlew assembleDebug
  lint-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Create local.properties file
        env:
          LOCAL_PROPERTIES: ${{secrets.LOCAL_PROPERTIES}}
        run: echo $LOCAL_PROPERTIES > local.properties

      - name: Run linter for code analysis
        run: ./gradlew lintDebug

      - name: Upload lint report
        uses: actions/upload-artifact@v6
        with:
          name: lint_report.html
          path: app/build/reports/lint-results-debug.html

  unit-tests:
    needs: [lint-check]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Run Unit Tests
        run: ./gradlew test --stacktrace